<form [formGroup]="passwordChangeForm" (ngSubmit)="passwordReset()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Enter Client Email</label> <br>
    <input type="text" class="form-control" aria-describedby="emailHelp" formControlName="clientEmail">
  </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Enter New Password</label> <br>
      <input type="text" class="form-control" aria-describedby="emailHelp" formControlName="newPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">ReEnter New Password to Confirm</label> <br>
        <input type="text" class="form-control" aria-describedby="emailHelp" formControlName="newPassword2">
      </div>
    <button type="submit" class="btn btn-primary">Change Password</button> <br>
    <p>{{message}}</p>
    <!-- <p>{{message.passwordResetStatus}}</p> -->
    <!-- <p>{{message.passwordResetMessage}}</p> -->
</form>