<div class="about-content">
    <div class="about-content-headers">
        <p class="header1">Its not just an Institute... Its not just a Placement Agency</p>
    </div>
    <div class="about-content-headers">
        <p class="header2">Its more than a University... Its more than a Company</p>
    </div>
    
    <div class="about-lara">
        <div class="about-lara-content">
            <h3>4 PILLARS TO EVERY LEARNER</h3>
            <P>Technical Skills</P>
            <p>Aptitude and Reasoning</p>
            <p>Soft Skills</p>
            <p>Internship</p>
        </div>
        <div class="about-lara-content" id="float2">
            <h3>LARA'S VISION AND MISSION</h3>
            <p>Coaching Excellence, Building Futures</p>
            <p>Focused Coaching, Lasting Achievements</p>
            <p>Practical Knowledge, Real-World Impact</p>
            <p>Striving For Excellence, Shaping Careers</p>
        </div>
    </div>
    
    <div class="contact1">
        <p class="contact11">For any queries: Please msg us on Whatsapp at 9999999999</p>
    </div>

    <hr>

    <app-packages></app-packages>
</div>