<form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Recovery Email-Id or Mobile-No:</label> <br>
      <input type="text" class="form-control" id="input" aria-describedby="emailHelp" formControlName="recoveryEmailOrMobileNo">
    </div>
      <button type="submit" class="btn btn-primary">Send OTP</button> <br>
    <p>{{otpNo}}</p>
    <p>{{otpStatus}}</p>
</form>


<form action="" *ngIf="otpStatus" [formGroup]="otpSubmitForm" (ngSubmit)="clientOtp()">
    <div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">OTP</label> <br>
        <input type="text" class="form-control" id="input" aria-describedby="emailHelp" formControlName="clientOtp">
      </div>
      <button type="submit" class="btn btn-primary" (click)="otpCheck()">Submit OTP</button> <br>
      <p>{{clientOtpSubmit}}</p>
    </div>
</form> 
<form action="" id="otpcheck">
  <a href="" routerLink="/app-create-new-password">Change Password</a>           
</form>

      
      <!-- <div *ngIf="">
        <a  href="#" routerLink="/app-create-new-password">Create New Password</a>
      </div>
     -->
  
    

    
    
